@import 'tailwindcss';

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c7d2fe;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #818cf8;
}

/* Chat animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#messages > div {
  animation: fadeIn 0.3s ease-in-out;
}

/* Custom focus styles */
input:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.4);
}

.hamburger-line {
  background-color: black;
  width: 30px;
  height: 3px;
  transition: transform 0.3s ease;
}

/* Efek saat hamburger aktif */
.hamburger-active > span:nth-child(1) {
  transform: translateY(4px) rotate(20deg);
}

.hamburger-active > span:nth-child(2) {
  transform: translateY(1px) rotate(20deg);
}
